@{
    ViewData["Title"] = "Trip Planner";
}

<div>
    <h1 class="display-4">Trip Planner</h1>
    <div id="app"></div>
</div>

<script type="text/javascript" >
    const _user = "@ViewData["UID"].ToString()";
</script>
<script type="module" src="./js/ReactDist/bundle.js" ></script>